# تنظیمات اصلی سرور بک‌ند
PROJECT_NAME=""
BACKEND_URL=""

# تنظیمات امنیتی (یک رشته طولانی و تصادفی تولید کن)
SECRET_KEY="your_super_safe_and_random_secret_key_here"
ALGORITHM=""

# آدرس‌های مجاز فرانت‌ند (با کاما جدا شوند)
ALLOWED_ORIGINS="http://"

# اتصال دیتابیس پستگرس
SQLALCHEMY_DATABASE_URL="postgresql://user:xxxxxx@db/db"

# اتصال سرور ردیس
REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_DB=0
EITAA_REDIS_PORT=6389
ACCOUNT_KEY="latest_session:123456789123"

# آدرس پروکسی اختصاصی ایتا
EITAA_API_URL="http://"
NEXT_PUBLIC_API_URL="http://"