# تنظیمات اصلی سرور بک‌ند
PROJECT_NAME="Emtedad API"
BACKEND_URL="http://localhost:8000"

# تنظیمات امنیتی (یک رشته طولانی و تصادفی تولید کن)
SECRET_KEY="your_super_safe_and_random_secret_key_here"
ALGORITHM="HS256"

# آدرس‌های مجاز فرانت‌ند (با کاما جدا شوند)
ALLOWED_ORIGINS="http://localhost:3000,https://dynamic-tanuki-1975df.netlify.app"

# اتصال دیتابیس پستگرس
SQLALCHEMY_DATABASE_URL="postgresql://emtedad_user:123456@db/emtedad_db"

# اتصال سرور ردیس
REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_DB=0
ACCOUNT_KEY="latest_session:989371787445"

# آدرس پروکسی اختصاصی ایتا
EITAA_API_URL="http://10.10.10.4:3000/send"